@model smelite_app.Models.CraftType

<h2 class="craft-title" style="text-align:center;margin-bottom:34px;">Edit Craft Type</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post" class="edit-profile-form">
    <input type="hidden" asp-for="Id" />
    <div class="edit-form-group">
        <label asp-for="Name" class="profile-label"></label>
        <input asp-for="Name" class="filter-input" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn-main">Save</button>
</form>
