# Ignore build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio directories
.vs/

# Visual Studio Code settings
.vscode/

# Rider directories
.idea/
