<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - smelite_app</title>
    <link rel="stylesheet" href="~/css/styles2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Montserrat:400,700|Amatic+SC&display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="hero-logo">
            <span class="hero-logo-dot" style="background:#422d15"></span>
            <span class="hero-logo-dot" style="background:#fff"></span>
            <span class="hero-logo-dot" style="background:#c9a04a"></span>
            <a asp-area="" asp-controller="Home" asp-action="Index">Смелите</a>
        </div>
        <nav class="nav">
            <a asp-area="" asp-controller="Crafts" asp-action="Index">ЗАНАЯТИ</a>
            <a asp-area="" asp-controller="Home" asp-action="Merch">MERCH</a>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        &copy; 2025 Смелите.bg | Български занаяти за бъдещето.
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
