@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Apprentice"))
    {
        <a asp-area="" asp-controller="Apprentice" asp-action="Profile" title="Manage">Hello @User.Identity?.Name!</a>
    }
    @if (User.IsInRole("Master"))
    {
        <a asp-area="" asp-controller="Master" asp-action="Profile" title="Manage">Hello @User.Identity?.Name!</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-area="" asp-controller="Admin" asp-action="Profile" title="Manage">Hello @User.Identity?.Name!</a>
    }

    <form asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="display:inline;">
        <button type="submit" class="cta-btn" style="margin-left:10px;">Logout</button>
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
}
