@model smelite_app.ViewModels.Blog.BlogPostViewModel

<h2 class="craft-title" style="text-align:center;margin-bottom:34px;">Create Blog Post</h2>

<form asp-action="Create" method="post" class="edit-profile-form">
    <div class="edit-form-group">
        <label asp-for="Title" class="profile-label"></label>
        <input asp-for="Title" class="filter-input" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="edit-form-group">
        <label asp-for="Content" class="profile-label"></label>
        <textarea asp-for="Content" class="filter-input" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="edit-form-group">
        <label asp-for="CoverImageUrl" class="profile-label"></label>
        <input asp-for="CoverImageUrl" class="filter-input" />
        <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn-main">Create</button>
</form>
