@model IEnumerable<smelite_app.ViewModels.Master.MasterCraftListItemViewModel>

<h2>Your Crafts</h2>
<ul>
@foreach (var c in Model)
{
    <li>
        @c.Name (@c.Type)
        <a asp-action="EditCraft" asp-route-id="@c.Id">Edit</a>
    </li>
}
</ul>
