@model smelite_app.ViewModels.Master.EditCraftViewModel

<h2>Edit Craft</h2>

<form asp-action="EditCraft" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="CraftTypeId"></label>
        <select asp-for="CraftTypeId" asp-items="Model.CraftTypes">
            <option value="">Select type</option>
        </select>
    </div>
    <div>
        <label asp-for="CraftDescription"></label>
        <textarea asp-for="CraftDescription"></textarea>
    </div>
    <div>
        <label asp-for="ExperienceYears"></label>
        <input asp-for="ExperienceYears" type="number" />
    </div>
    <div>
        <label>Existing Images</label>
        <div class="mb-2">
            @foreach (var img in Model.ExistingImages)
            {
                <div class="form-check mb-1">
                    <img src="@img.Url" class="img-fluid" style="max-height:150px;" />
                    <input type="checkbox" name="RemoveImageIds" value="@img.Id" class="form-check-input" /> Remove
                </div>
            }
        </div>
        <label>Add Images</label>
        <input asp-for="Images" type="file" multiple />
    </div>
    <div id="offerings">
        @for (int i = 0; i < Model.Offerings.Count; i++)
        {
            <div class="offering border p-2 mb-2">
                <input asp-for="Offerings[i].LocationName" placeholder="Location" class="form-control mb-1" />
                <input asp-for="Offerings[i].SessionsCount" type="number" min="0" max="20" placeholder="Sessions" class="form-control mb-1" />
                <input asp-for="Offerings[i].PackageLabel" placeholder="Label" class="form-control mb-1" />
                <input asp-for="Offerings[i].Price" placeholder="Price" class="form-control" />
            </div>
        }
    </div>
    <button type="button" id="add-offer" class="btn btn-secondary mb-2">Add Offering</button>
    <button type="submit">Save</button>
</form>

@section Scripts {
    <script>
        $("#add-offer").on("click", function () {
            var index = $("#offerings .offering").length;
            var template = `<div class='offering border p-2 mb-2'>` +
                `<input name='Offerings[${index}].LocationName' class='form-control mb-1' placeholder='Location' />` +
                `<input name='Offerings[${index}].SessionsCount' type='number' min='0' max='20' class='form-control mb-1' placeholder='Sessions' />` +
                `<input name='Offerings[${index}].PackageLabel' class='form-control mb-1' placeholder='Label' />` +
                `<input name='Offerings[${index}].Price' class='form-control' placeholder='Price' />` +
                `</div>`;
            $("#offerings").append(template);
        });
    </script>
}
