@model IEnumerable<smelite_app.Models.Apprenticeship>

<h2 class="craft-title" style="text-align:center;margin-bottom:34px;">Чиракувания</h2>

<div class="apprenticeships-list">
    @foreach (var a in Model)
    {
        <div class="apprenticeship-card">
            <div class="apprenticeship-info">
                <div class="apprenticeship-name">
                    @a.ApprenticeProfile.ApplicationUser.FirstName @a.ApprenticeProfile.ApplicationUser.LastName
                </div>
                <div class="apprenticeship-craft">
                    Занаят: <span>@a.CraftOffering.Craft.Name</span>
                </div>
                <div class="apprenticeship-status">
                    Статус: <span>@a.Status</span>
                </div>
            </div>
        </div>
    }
</div>
